body{
    margin:0;
    font-family:Arial;
    background:#acf0f5;
}

/* NAVBAR */
.navbar{
    background:#1f2a44;
    color:rgb(233, 189, 189);
    text-align:center;
    padding:12px;
}

/* HEADER */
.header{
    background:#4e73df;
    color:white;
    text-align:center;
    padding:30px;
}

/* SECTION */
.section{
    background:#f8f9fc;
    padding:30px;
    margin:20px;
    border:1px solid #dcdcdc;
}

.white{
    background:white;
}

/* ANALYSIS TEXT */
.analysis{
    background:#fff3cd;
    padding:12px;
    border-left:5px solid #ffb300;
}

/* COLOR BOX */
.box{
    width:60%;
    margin:20px auto;
    padding:20px;
    color:white;
    text-align:center;
    border-radius:8px;
}

.hex{
    background:#e74a3b;
}

.rgb{
    background:rgb(28,200,138);
}

/* FONT UNITS */
.px{ font-size:22px; }
.em{ font-size:1.5em; }
.rem{ font-size:1.5rem; }

/* LINE HEIGHT */
.line{
    line-height:2;
    background:white;
    padding:15px;
    border-left:5px solid #4e73df;
}

/* ALIGNMENT */
.center{ text-align:center; }

.left{
    width:70%;
    margin:auto;
    text-align:left;
}

/* PERCENT BOX */
.percent-box{
    width:50%;
    margin:20px auto;
    padding:25px;
    background:#36b9cc;
    color:white;
    text-align:center;
    font-weight:bold;
    border-radius:10px;
}